<header>
  <nav class="navbar navbar-expand-md navbar-dark justify-content-between">
    <a class="navbar-brand" href="/">Charter</a>

    <!-- Right side -->
    <div class="navbar">
      <!-- Search Bar -->
      <form id="search-maps" method="get" action="/maps" class="form-inline ">
        <input name="title" class="form-control mr-sm-2" type="search" placeholder="Search for a map" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>

      <!-- Profile Button -->
      <div class="dropdown show ml-2">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile Photo
        </a>

        <!-- Dropdown items -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

          <a class="dropdown-item" href="/profile">My Profile</a>
          <a class="dropdown-item" href="#">Friends</a>
          <% if (userId){%>
          <a class="dropdown-item" href="/logout">Logout</a>
          <% } else { %>
          <a class="dropdown-item" href="/login/1">Login</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>
