<header>
  <nav class="navbar navbar-expand-md navbar-dark justify-content-between px-4">
    <a class="navbar-brand" href="/">Charter</a>

    <!-- Right side -->
    <div class="container-fluid justify-content-end">
      <!-- Search Bar -->
      <form id="search-maps" method="get" action="/maps" class="d-flex ">
        <input name="title" class="form-control mr-sm-2" type="search" placeholder="Search for a map" aria-label="Search">
        <button class="btn btn-outline-warning me-3 ms-1 my-sm-0" type="submit">Search</button>
      </form>

      <!-- Profile Button -->
      <div class="dropdown show ml-2">
        <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if (userId){%>
            Menu
          <% } else { %>
            Login
          <% } %>
        </a>

        <!-- Dropdown items -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

          <% if (userId){%>
            <a class="dropdown-item" href="/maps/create">Create map</a>
          <a class="dropdown-item" href="/users/<%=userId%>">My Profile</a>
          <a class="dropdown-item" href="/logout">Logout</a>
          <% } else { %>
            <a class="dropdown-item" href="/login/4">as Demo</a>
            <a class="dropdown-item" href="/login/1">as Adam</a>
            <a class="dropdown-item" href="/login/2">as Leon</a>
            <a class="dropdown-item" href="/login/3">as Joseph</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>
