// All Colors Here!
$blue: #0075BE;
$yellow: #FFCC00;
$red: #FB1B1B;

// Whites
$white-100: #FFFFFF;
$white-200: #CECECE;
$white-300: #B1B1B1;

// Bootstrap overrides
.btn-primary {
  background-color: $blue;
}

// Navbar Color
body {
  header {
    background-color: $blue;
    
    // Logo Colors
    .navbar-brand {
      -webkit-text-stroke: 2px $blue;
      -webkit-text-fill-color: $yellow;
    }
  }
}

// Background Color
body {
  background-color: $white-100;
}

// Map Card Color
.map-card {
  background-color: $white-100;
}

// Profile Card Colors
.upper {
  background-color: $red;
}

.profile-card {
  background-color: $white-100;
}
