$blue: #0075BE;
$yellow: #FFCC00;
$red: #FB1B1B;
$font-pokemon: 'Pokemon Solid', cursive;

body {
  // main navbar styles
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a3d0db;
    z-index: 2;

    .navbar-brand {
      font-size: 2rem;
      font-family: $font-pokemon;
      -webkit-text-stroke: 2px $blue;
      -webkit-text-fill-color: $yellow;
    }
  }
}

