$blue: #0075BE;
$yellow: #FFCC00;
$font-pokemon: 'Pokemon Solid', cursive;

body {
  // main navbar styles
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 80px;

    .navbar-brand {
      font-size: 2rem;
      font-family: $font-pokemon;
    }
  }
}

